@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
    --Strongcyan: hsl(172, 67%, 45%);
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Grayishcyan: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Verylightgrayishcyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--Grayishcyan);
    color: var(--Darkgrayishcyan);
    gap: 10px;
}
.logo{
    margin-bottom: 30px;
}

input[type=text]{
    border: 2px solid var(--Verylightgrayishcyan);
    background-color: var(--Verylightgrayishcyan);
    font-size: 24px;
    text-align: right;
    padding: 2px 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}
.people input{
    background-image: url(./images/icon-person.svg);
}

input[type=text]:focus {
    outline: 2px solid var(--Strongcyan);
    /* border: 2px solid hsl(172, 67%, 45%); */
    color: var(--Verydarkcyan);
    box-shadow: 0px 0px 7px 1px hsla(172, 67%, 45%, 0.6);
  }
button{
    background-color: var(--Verydarkcyan);
    border: 2px solid var(--Verydarkcyan);
    color: white;
    padding: 5px 35px;
    font-size: 24px;
    border-radius: 5px;
    width: 120px;
    cursor: pointer;
}
button:focus{
    background-color: var(--Strongcyan);
    border: 2px solid var(--Strongcyan);
    color: var(--Verydarkcyan);
}
button:hover{
    background-color: var(--Lightgrayishcyan);
    border: 2px solid var(--Lightgrayishcyan);
    color: var(--Verydarkcyan);
}
p{
    margin-bottom: 10px;
}
span{
    font-size: 50px;
    color: var(--Strongcyan);
}
small{
    color: var(--Grayishcyan);
}
.container{
    display: flex;
    max-width: 920px;
    max-height: 480px;
    background-color: var(--White);
    padding: 30px;
    border-radius: 15px;
    gap: 30px;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.6);
}
.container .box-left{
    width: 50%;
}
.container .box-left div{
    margin-bottom: 45px;
}
.container .box-left .tip-menu .container-2{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-end;
}
.container .box-left .tip-menu .container-2 .people{
    display: flex;
    justify-items: center;
    background-color: aqua;
    
}
.container .box-left .tip-menu .container-2 input{
    max-width: 120px;
    text-align: center;
    background-image: none;
}
.container .box-right{
    width: 50%;
    background-color: var(--Verydarkcyan);
    padding: 40px 25px;
    border-radius: 15px;
    color: white;
    max-width: 415px;
}
.container .box-right img{
    width: 25px;

}
.container .box-right button{
    width: 100%;
    background-color: var(--Darkgrayishcyan);
    text-transform: uppercase;
    color: var(--Verydarkcyan);
    border-color: var(--Darkgrayishcyan);
    margin-top: 140px;
}
.container .box-right button[type=reset]:focus{
    background-color: var(--Strongcyan);
    border: 2px solid var(--Strongcyan);
    color: var(--Verydarkcyan);
}
.container .box-right button:hover{
    background-color: var(--Lightgrayishcyan);
    border: 2px solid var(--Lightgrayishcyan);
    color: var(--Verydarkcyan);
}
.container .box-right div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
